<html>
    <head>
        <title>FORGOTTEN PASSWORD</title>

        <style>
           

            
            #e{
                color: rgb(202, 71, 71);
                
            }
            b{
                color:rgb(180, 8, 143);

            }
            #em:hover{
                
                background-color: rgb(18, 233, 75);
            }
        
            
            
            #Email {
            
            color:aliceblue;
            background-color: rgb(32, 18, 231);
            }

            body{
                background-color: black;
            }
            
        </style>
    </head>
    <body>
        <form>
            <table align="center">
            
                <tr>
                    <th>
                        <h1 id="em"><b> Forgotten Password </b> </h1>
                    </th>
                </tr>
                <tr>
                    <td style="color:rgb(27, 22, 20) background-color= rgb(69, 132, 248)" height="100" id="Email">Forgotten your password? Enter your email address<br> below to begin the reset process</td><br>
                </tr><br>
                        
                        <tr align="">
                            <td id="e">Email Address :</td><br>
                        </tr>
                        <tr align="center">
                            <td><input type="text" name="email" placeholder="Enter email" size="30"></td>
                        </tr>
                        <tr>
                            <td align="center" id="button"><button type="submit" value="submit" style="background-color:skyblue ; color:rgb(34, 26, 26)">Submit</button></td>
                        </tr>

                    
                

            </table>
        </form>
    </body>
    </html>