<html>
    <head>
        <style type="text/css">
        
            body{
                background-color: rgb(237, 213, 183);
                background-repeat: no-repeat;
                background-attachment: fixed;  
                background-size: cover;

           }
   
    
       #c{
        
        background-color: rgba(203, 81, 136, 0.985);
        color: white;

       }
       #ww{
             background-color: rgb(17, 119, 214);  
             color: aliceblue;
             width: 250;
             height: 50; 
            }

        #ss{
            background-color: rgb(26, 123, 241);
            color: white;  
             width: 250;
             height: 50; 
             
        }
        h2{
            
            color: black;

        }
    
        </style>

       
    
    </head>
    <body>

        <center id="c"><h1><b>WELCOME</b></h1></center><br>
 <br>
        <h1 align="center" ><b> MOVIES HOME PAGE</b> </h1>
<br>
<center><p>if you want to register please sign up here</p></center>
<a href="http://localhost:3000/signup" >
    <center><button type="button" onclick=" signup "  id="ss" ><h3>sign up</h3></button></center></a>
    <center><h3>(or)</h3></center>

    <center><p>If you want to login your account. login here</p></center>
    <a href="http://localhost:3000/loginPage">
        <center><button  type="button" onclick="loginPage" id="ww" ><h3>login </h3></button></center></a>
        <br>

        <center><h2> sign up and login to get movie details</h2></center>

    <p>
        <center><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmc5hjm43IrC9FwpuAPF2aDRxtHpjfr7Xb7wTgW096_Ch2x1B6" ></center>

    </p>


    </body>
    

</html>